/*home page color: #2058AB*/
html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    background-image: url('../images/background-360.png');
    background-size: cover;
    color: #FFF;
}

header {
    text-align: center;
    padding: 60px 0;
}

.btn {
    padding: 7px 20px;
}

header h1 {
    font-size: 45px;
    font-weight: 700;
}

.top .search .form-group {
    margin-top: 30px;
}

.top .search .form-group .form-control {
    width: 60%;
    display: inline-block;
    margin-right: -3px;
    padding-top: 3px;
}

.output {
    margin-top: 5%;
}

.output #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    min-height: 100vh;
    z-index: -1;
    min-width: 100%;
}

.output #wheater-info {
    position: relative;
    bottom: 0;
    left: 15%;
    right: 15%;
    width: 70%;
    font-weight: 600;
    display: none;
    color: #FFF;
}

@media only screen and (min-width: 331px) {
    @media only screen and (max-width: 650px) {
        
        header {
            padding: 45px 0;
        }

        header h1 {
            font-size: 27px;
        }

        .top {
            text-align: center;
        }

        .output #myVideo {
            top: 0;
        }

        .check-current-loctaion {
            margin-bottom: 60px;
        }

        h4 {
            font-size: 22px;
        }

        .output #wheater-info {
            left: 0;
            right: 0;
            width: 100%;
        }
    }
}